---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Writings</title>
  </head>
  <body class="bg-black text-white min-h-screen">
    <h1 class="text-4xl font-bold p-8">Writings</h1>
  </body>
</html>
